// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$background: #161616;
$primary:   rgba(64, 140, 255, 1);
$highlight: rgba(62, 255, 58, 1);
$secondary: rgba(255, 255, 255, 1);


